DATABASE_URL="postgresql://<USER>:<PASSWORD>@db-asdasdaadb.ondigitalocean.com:25060/defaultdb?sslmode=require"
DIRECT_URL="postgresql://<USER>:<PASSWORD>@db-asdasdaadb.ondigitalocean.com:25060/defaultdb?sslmode=require"
